@{
    ViewData["Title"] = "Подготовка за новия сезон";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
    <div class="row text-center">
        <div class="col-4">
            <h6>Регистрация на отбори</h6>
            <a>линк</a>
        </div>
        <div class="col-4">
            <h6>Регистрация на играчи</h6>
            <a>линк</a>
        </div>
        <div class="col-4">
            <h6>Добавяне на мач</h6>
            <a>линк</a>
        </div>
    </div>
</div>