<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Съдийска система - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FootballRefereeManagementSystem.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="200" height="125" src="~/Images/Common/bfs-refs-logo.png" alt="bfs-logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size: 24px" asp-area="" asp-controller="News" asp-action="All">НОВИНИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size: 24px" asp-area="" asp-controller="Match" asp-action="All">МАЧОВЕ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size: 24px" asp-area="" asp-controller="Home" asp-action="GameRules">ПРАВИЛА НА ИГРАТА</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            if (User.IsInRole("Referee") == false)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" style="font-size: 20px" asp-area="" asp-controller="Career" asp-action="CareerInformation">КАРИЕРА</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" style="font-size: 20px" asp-area="" asp-controller="Referee" asp-action="Schedule">ГРАФИК</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" style="font-size: 20px" asp-area="" asp-controller="Referee" asp-action="All">СЪДИЙ</a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" style="font-size: 20px" asp-area="" asp-controller="Career" asp-action="Applications">КАНДИДАТУРИ</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2006 - @DateTime.UtcNow.Year Български Футболен Съюз. Всички права са запазени.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
