@model RefereeDetailsViewModel;
@{
    ViewData["Title"] = "Изтриване на съдия";
}

<div class="container alert-danger shadow">
    <h2 class="text-center mb-3">@ViewData["Title"]</h2>
    <div class="row">
        <p class="text-center fst-italic h5">Изтриването на съдия ще доведе до изтриването и на принадлежащия потребителски профил в системата!</p>
    </div>
    <hr />
    <partial name="_RefereeDetailsPartial" />
    <div class="row align-items-center text-center d-flex justify-content-center mt-5">
        <a class="btn btn-danger me-3 col-2 mb-3" asp-area="Admin" asp-controller="Referee" asp-action="ConfirmedDelete" asp-route-id="@Model.RefereeId">Изтрий</a>
        <a class="btn btn-secondary col-2 mb-3" asp-area="" asp-controller="Referee" asp-action="All">Отказ</a>
    </div>
</div>