@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="mt-5 mb-4 text-center">Управление на профил</h1>

<div class="container-fluid">
    <h4 class="offset-1">Настройки</h4>
    <hr/>
    <div class="row">
        <div class="col-md-3 border-end border-3 border-primary me-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
