<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<ul class="nav nav-pills flex-column">
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person-square me-2"></i>
            Профил
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope-fill me-2"></i>
            Имейл
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-shield-fill-check me-2"></i>
            Парола
        </a>
    </li>
    <li class="nav-item mb-5">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-database-fill-lock me-2"></i>
            Лични данни
        </a>
    </li>
</ul>
