@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лични данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Профила Ви съдържа лични данни, които сте предоставили. Тази страница предоставя възможност да изтеглите или изтриете тези данни.</p>
        <p>
            <strong>Изтриването на вашите данни ще премахне този профил без възможност за възтановяване.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Изтегли</button>
        </form>
        <p class="mt-3">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрии</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
