@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Потвърждение на нов имейл адрес";

    Model.StatusMessage.Text = Model.Message;
    Model.StatusMessage.Alert = Model.AlertType;
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
