@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Изпратен линк за смяна на парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля проверете вашият имейл, за да промяна на паролата.
</p>
