@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен профил";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Профилът е временно заключен, моля опитайте по-късно.</p>
</header>
