@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Променена парола!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола е променена! <a asp-page="./Login">Вход в системата</a>.
</p>
