@using FootballRefereeManagementSystem.Web.ViewModels.Career;
@model ApplicationFormModel

@{
    ViewData["Title"] = "Кандидатстване";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 m-2 me-5">
            <div class="card bg-primary text-white border border-3 border-primary">
                <div class="card-img">
                    <img src="~/Images/Home/test-3.jpg" width="100%" height="auto"/>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Защо да се присъедините?</h3>
                    <p class="card-text mt-1">
                        Ако обичате движението и спорта...
                    </p>
                    <p class ="card-text">
                        Ако сте социален и отговорен човек, който може да се справя във всякакви ситуации...
                    </p>
                    <p class="card-text">
                        ... значи вие сте перфектното допълнение към нашия съдийски екип. Предоставя възможност да направите вашето хоби в нещо повече.
                    </p>
                    <p class="card-text">
                        Кандидатствайте сега!
                    </p>
                </div>
                <div class="card-body card-footer text-center">
                    <a href="~/Downloads/Footbal-Rules-2021-22.pdf" target="_blank" class="btn btn-sm btn-warning">
                        <h5 class="mt-1 mb-1">Футболен правилник</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 m-2 shadow bg-white border border-1 border-primary">
            <div class="application-form">
                <h2 class="text-primary mt-3">Започни своята кариера</h2>
                <form asp-action="Apply" method="post">
                    <div class="row mt-4">
                        <div class="col-md-5 me-5 mb-4">
                            <label asp-for="FirstName" class="form-label">Име:</label>
                            <input asp-for="FirstName" class="form-control" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label asp-for="LastName" class="form-label">Фамилия:</label>
                            <input asp-for="LastName" class="form-control" required>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 me-5 mb-4">
                            <label asp-for="Contact" class="form-label">Контакт:</label>
                            <input asp-for="Contact" class="form-control" required>
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label asp-for="Email" class="form-label">Имейл адрес:</label>
                            <input asp-for="Email" class="form-control" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-2 me-5 mb-3">
                                <label asp-for="Age" class="form-label">Възраст:</label>
                                <input asp-for="Age" class="form-control">
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 mb-5">
                                <label asp-for="Weight" class="form-label">Тегло:</label>
                                <input asp-for="Weight" class="form-control">
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-check">
                                <input asp-for="HasDriverLicense" class="form-check-input" />
                                <label asp-for="HasDriverLicense" class="form-check-label">Имам шофьорска книжка</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-check">
                                <input asp-for="HasCar" class="form-check-input" />
                                <label asp-for="HasCar" class="form-check-label">Имам личен автомобил</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check mb-4">
                        <input asp-for="KnowsFootballRules" class="form-check-input" />
                        <label asp-for="KnowsFootballRules" class="form-check-label">
                            Запознат съм с футболните правила<span class="text-danger">*</span>
                        </label>
                        <span asp-validation-for="KnowsFootballRules" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Кандидатствай</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}