@using FootballRefereeManagementSystem.Web.ViewModels.Career;
@model ApplicationViewModel

@{
    ViewData["Title"] = "Кандидатстване";
}

<div class="container">
    <h1>Кандидатствай за съдия</h1>

    <form asp-action="SubmitApplication" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="FullName" class="form-label">Име и Фамилия:</label>
                <input asp-for="FullName" class="form-control" required>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Email" class="form-label">Имейл адрес:</label>
                <input asp-for="Email" class="form-control" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Phone" class="form-label">Телефон:</label>
                <input asp-for="Phone" class="form-control" required>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Position" class="form-label">Позиция:</label>
                <input asp-for="Position" class="form-control" required>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="Resume" class="form-label">Resume:</label>
                <input asp-for="Resume" type="file" class="form-control-file" required>
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
        </div>*@
        <button type="submit" class="btn btn-primary">Кандидатствай</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}