@{
    ViewData["Title"] = "Изпратено";
}

<div class="container-fluid">
    <h1 class="text-success">Изпратено успешно!</h1>
    <p class="text-success mb-4 h5">
        Благодаря, че кандидатствахте за нашият екип. 
        Очаквайте да получите отговор възможно най-скоро.
    </p>
    <p class="mt-2 h6">Ще бъдете пренасочени към началната страница след <span class="text-danger" id="counter"></span> секунди...</p>
</div>

@section Scripts {
    <script src="~/js/success.js"></script>
}