@using FootballRefereeManagementSystem.Web.ViewModels.Zone;
@model ZoneViewModel;
@{
    ViewData["Title"] = "Изтриване на зона";
}

<div class="container alert-danger shadow">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    <div class="row mb-3 text-center">
        <p class="h4"><span class="text-dark fw-bold me-3">Име:</span>@Model.Name</p>
        <p class="h4"><span class="text-dark fw-bold me-3">Брой градове:</span>@Model.TownsCount</p>
    </div>
    <div class="row align-items-center text-center d-flex justify-content-center">
        <a class="btn btn-danger me-3 col-2 mb-3" asp-area="Admin" asp-controller="Zone" asp-action="ConfirmedDelete" asp-route-id="@Model.Id">Изтрий</a>
        <a class="btn btn-secondary col-2 mb-3" asp-area="Admin" asp-controller="Zone" asp-action="All">Отказ</a>
    </div>
</div>
