@using FootballRefereeManagementSystem.Web.ViewModels.Zone;
@model ZoneFormModel;
@{
    ViewData["Title"] = "Редактиране на зона";
}

<div class="container">
    <h2 class="mb-2">@ViewData["Title"]</h2>
    <hr />
    <form asp-area="Admin" asp-controller="Zone" asp-action="Edit" method="post">
        <div class="row">
            <div class="form-group mb-3 col-5">
                <label asp-for="Name" class="dropdown-header">Име:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Редактирай</button>
        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Zone" asp-action="All">Отказ</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}