<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Съдийска система - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FootballRefereeManagementSystem.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger">
            <div class="container-fluid">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">
                        <img src="~/Images/Common/bfs-refs-logo.png" alt="bfs-logo" style="max-width: 160px; height: auto;" />
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/Common/bfs-refs-logo.png" alt="bfs-logo" style="max-width: 160px; height: auto;" />
                    </a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="News" asp-action="All">НОВИНИ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Referee" asp-action="All">СЪДИЙ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Season" asp-action="All">СЕЗОН</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" asp-area="" asp-controller="Referee" asp-action="Schedule">СЕДМИЧЕН НАРЯД</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="vr me-3 text-white"></li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Dashboard">АДМИНИСТРАТОРСКИ ПАНЕЛ</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Career" asp-action="Apply">КАРИЕРА</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Contact">КОНТАКТИ</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-white border-bottom border-danger box-shadow mb-3 alert-danger">
            <div class="navbar-nav flex-grow-1">
                <a class="nav-link offset-1 btn btn-sm btn-success text-white me-3" asp-area="Admin" asp-controller="Career" asp-action="All">КАНДИДАТУРИ</a>
                <a class="nav-link btn btn-sm btn-success text-white me-3" asp-area="Admin" asp-controller="Division" asp-action="All">ДИВИЗИИ</a>
                <a class="nav-link btn btn-sm btn-success text-white me-3" asp-area="Admin" asp-controller="Town" asp-action="All">ГРАДОВЕ</a>
                <a class="nav-link btn btn-sm btn-success text-white me-3" asp-area="Admin" asp-controller="Zone" asp-action="All">ЗОНИ</a>
                <a class="nav-link btn btn-sm btn-success text-white me-3" asp-area="Admin" asp-controller="Team" asp-action="All">ОТБОРИ</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <a href="https://www.bfunion.bg/" target="_blank">
                        <img src="~/Images/Common/bfs-logo.png" style="max-width: 40px; height: auto;" />
                    </a>
                </div>
                <div class="col-auto">
                    &copy; 2006 - @DateTime.UtcNow.Year Български Футболен Съюз. Всички права са запазени.
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
