@{
    ViewData["Title"] = "Съдий";
}

<h2 class="text-center">Списък от регистрирани съдий</h2>
<hr />

<div class="container">
    <table class="table">
        <thead class="table-light">
            <tr class="d-table-row">
                <th scope="col">Снимка</th>
                <th scope="col">Име</th>
                <th scope="col">Години</th>
                <th scope="col">Контакт</th>
                <th scope="col">Роля</th>
                <th scope="col">Общ брой мачове</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @*TODO:...*@
        </tbody>
    </table>
</div>