@{
    ViewData["Title"] = "Грешка";
}

<div class="container py-5">
    <div class="text-center">
        <h1 class="display-1 text-danger">Грешка</h1>
        <h2 class="display-4 text-danger">Възникна неочаквана грешка</h2>
        <p class="lead">Извиняваме се за неудобството. Моля, опитайте отново по-късно.</p>
        <hr>
        <div class="text-left">
            <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Към начална страница</a>
        </div>
    </div>
</div>