@{
    ViewData["Title"] = "405 - Методът не е разрешен";
}

<div class="container py-5">
    <div class="text-center">
        <h1 class="display-1 text-warning">405</h1>
        <h2 class="display-4 text-warning">Методът не е разрешен</h2>
        <p class="lead">Съжаляваме, но методът, който се опитвате да използвате, не е разрешен за тази страница.</p>
        <hr>
        <div class="text-left">
            <a class="btn btn-secondary btn-lg" asp-controller="User" asp-action="Index">Към началната страница</a>
        </div>
    </div>
</div>
