@{
    ViewData["Title"] = "404 - Страницата не е намерена";
}

<div class="container py-5">
    <div class="text-center">
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="display-4 text-danger">Страницата не е намерена</h2>
        <p class="lead">Съжаляваме, но страницата, която търсите, не може да бъде намерена.</p>
        <hr>
        <div class="text-left">
            <a class="btn btn-secondary btn-lg" asp-controller="User" asp-action="Index">Към началната страница</a>
        </div>
    </div>
</div>