@{
    ViewData["Title"] = "403 - Достъпът е забранен";
}

<div class="container py-5">
    <div class="text-center">
        <h1 class="display-1 text-danger">403</h1>
        <h2 class="display-4 text-danger">Достъпът е забранен</h2>
        <p class="lead">За да достъпите тази страница, нямате достатъчни права или линка е изтелкъл.</p>
        <hr>
        <div class="text-left">
            <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Към началната страница</a>
        </div>
    </div>
</div>