@{
    ViewData["Title"] = "Начало";
}

<div class="container-fluid">
    <div class="row border border-5 border-secondary">
        <div class="col-6 text-center shadow border border-5 border-danger">
            <div>
                <h1>СЪДИЙСКА СИСТЕМА</h1>
                <h2>ОБЛАСТ ПЛЕВЕН</h2>
            </div>
        </div>
        <div class="col-6 text-center shadow border border-5 border-warning">
            <div>
                <h1>ФУТБОЛЕН ПРАВИЛНИК</h1>
                <a href="~/Downloads/Footbal-Rules-2021-22.pdf" target="_blank" class="btn btn-sm btn-info">
                    <h2>ИЗТЕГЛИ</h2>
                </a>
            </div>
        </div>
        <div class="col-6 text-center border border-3 border-primary">
            <img class="img-fluid" src="~/Images/Home/test-1.jpeg" alt="ref">
        </div>
        <div class="col-6 text-center border border-3 border-primary">
            <img class="img-fluid" src="~/Images/Home/home-background.jpeg" alt="ref">
        </div>
    </div>
</div>