@{
    ViewData["Title"] = "Начало";
}

<div class="container-fluid p-0 bg-gray">
    <div class="container-fluid p-0">
        <div class="position-absolute">
            <img src="~/Images/Home/test-3.jpg" alt="Background Image" class="img-fluid">
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-primary text-center bg-white">Добре дошли!</h1>
                <h3 class="text-primary text-center bg-white">СЪДИЙСКА СИСТЕМА - ОБЛАСТ ПЛЕВЕН</h3>
            </div>
        </div>
    </div>
</div>