@model IEnumerable<string>
@inject IWebHostEnvironment WebHostEnvironment;
@{
    ViewData["Title"] = "Начало";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="position: relative;">
            <div id="carouselExampleIndicators" class="carousel slide d-flex justify-content-center" data-ride="carousel">
                <div class="carousel-inner text-center align-items-center align-content-center">
                    @foreach (string filePath in Model)
                    {
                        <div class="carousel-item @(Model.ToList().IndexOf(filePath) == 0 ? "active" : "")">
                            <img class="d-block mx-auto" src="@Href($"~/{filePath.Substring(WebHostEnvironment.WebRootPath.Length + 1)}")" alt="Test slide">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="carousel-caption">
                    <h1>СЪДИЙСКА СИСТЕМА</h1>
                    <hr />
                    <h4>СЕЗОН @ViewData["CurrentSeason"]</h4>
                </div>
            </div>
        </div>
    </div>
</div>
